@keyframes multicolortext {
  0% {
    color: #00baff;
  }

  10% {
    color: #f836a7;
  }

  20% {
    color: #fccb18;
  }

  30% {
    color: #ed293e;
  }

  40% {
    color: #0350a7;
  }

  50% {
    color: #02e473;
  }

  60% {
    color: #ff781f;
  }

  70% {
    color: #8c00ff;
  }

  80% {
    color: #91e842;
  }

  90% {
    color: #7e7e7e;
  }

  100% {
    color: #ff593c;
  }
}

@keyframes lvl-0-to-position {
  from {
    width: 0;
  }

  to {
    width: var(--lvl-width);
  }
}

.animated-lvl-0-to-position {
  animation: lvl-0-to-position 2s;
  -webkit-animation: lvl-0-to-position 2s;
  animation-fill-mode: forwards;
}

.LvlPercent {
  --lvl-width: 60% !important;
}

.animation-multicolortext {
  animation: multicolortext 2s infinite !important;
  -webkit-animation: multicolortext 2s infinite !important;
}

/*---------------color botones----------------*/
.buton-outline {
  background: none;
  border: 1px solid #303030;
  background-color: #303030;
}

.chat-color {
  background: #f2f2f2;
}
.footer-chat-color {
  background: #e0e0e0;
}

.linea-boton {
  border-bottom: 1px solid #7e7e7e !important;
}

.icon-color {
  color: #e0e0e0;
}
/* --------------------------------- SCROLLBAR */
div::-webkit-scrollbar {
  width: 11px !important;
  height: 11px !important;
}

div::-webkit-scrollbar-button {
  width: 0px !important;
  height: 0px !important;
}

div::-webkit-scrollbar-thumb {
  background: #0096ff;
  border: 0px solid #ffffff !important;
  border-radius: 100px !important;
}

div::-webkit-scrollbar-thumb:hover {
  background: #00baff !important;
}

div::-webkit-scrollbar-thumb:active {
  background: #ff0096 !important;
}

div::-webkit-scrollbar-track {
  background: #2020202d !important;
  border: 0px none #ffffff !important;
  border-radius: 70px !important;
}

div::-webkit-scrollbar-track:hover {
  background: #2828282f !important;
}

div::-webkit-scrollbar-track:active {
  background: #2020201f !important;
}

div::-webkit-scrollbar-corner {
  background: transparent !important;
}

/**/
body {
  margin: 0;
}
/* --------------------------------- MOBILE */
@media screen and (max-width: 768px) {
  .mobile-display-none {
    display: none !important;
  }

  .mobile-visible-desktop-hidden {
    display: block !important;
  }

  .mobile-background-red {
    background: red !important;
  }

  .mobile-width-50 {
    width: 50% !important;
  }

  .mobile-width-100 {
    width: 100% !important;
  }

  .mobile-width-100-child-1:nth-child(n + 1) {
    width: 100% !important;
  }

  .mobile-relative-horizontal-center {
    position: relative;
    float: left;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.mobile-visible-desktop-hidden {
  display: none;
}

/* x-------------------------------- */

/* --------------------------------- INPUT */
input[type="checkbox"] {
  /* añadir o quitar comillas en "checkbox"*/
  transform: scale(1.2);
  border-radius: 20% !important;
  border: none !important;
  outline: none !important;
  -webkit-border-radius: 20% !important;
  -moz-border-radius: 20% !important;
  -ms-border-radius: 20% !important;
  -o-border-radius: 20% !important;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* x-------------------------------- */
/* --------------------------------- FONTS */
/* ------------- FONT - FAMILY  */
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

.font-family-orbitron {
  font-family: "Orbitron";
}

.font-family-poppins {
  font-family: "Poppins";
}

/* ------------- FONT - WEIGHT */

.font-weight-normal {
  font-weight: normal !important;
}

.font-weight-medium {
  font-weight: medium !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.font-weight-black {
  font-weight: 900 !important;
}
/* ------------- FONT - SIZE - SPECIAL */
.special-font-size-20px {
  font-size: calc(20px + 6 * ((100vw - 320px) / 680));
}

.special-font-size-13px {
  font-size: calc(13px + 6 * ((100vw - 320px) / 680));
}

.text-giant {
  font-size: calc(10vh + 18px);
}

/* ------------- FONT - SIZE - PX */
.font-size-5px {
  font-size: 5px !important;
}

.font-size-8px {
  font-size: 8px !important;
}

.font-size-10px {
  font-size: 10px !important;
}

.font-size-11px {
  font-size: 11px !important;
}

.font-size-12px {
  font-size: 12px !important;
}

.font-size-13px {
  font-size: 13px !important;
}

.font-size-15px {
  font-size: 15px !important;
}

.font-size-16px {
  font-size: 16px !important;
}

.font-size-17px {
  font-size: 17px !important;
}

.font-size-18px {
  font-size: 18px !important;
}

.font-size-19px {
  font-size: 19px !important;
}

.font-size-20px {
  font-size: 20px !important;
}

.font-size-25px {
  font-size: 25px !important;
}

.font-size-30px {
  font-size: 30px !important;
}

.font-size-35px {
  font-size: 35px !important;
}

.font-size-40px {
  font-size: 40px !important;
}

.font-size-45px {
  font-size: 45px !important;
}

.font-size-50px {
  font-size: 50px !important;
}

/* ------------- FONT - SIZE - EM */
.font-size-0-5em {
  font-size: 0.5em;
}

.font-size-0-6em {
  font-size: 0.6em;
}

.font-size-0-7em {
  font-size: 0.7em;
}

.font-size-0-8em {
  font-size: 0.8em;
}

.font-size-1em {
  font-size: 1em;
}

.font-size-1-2em {
  font-size: 1.2em;
}

.font-size-1-3em {
  font-size: 1.3em;
}

.font-size-1-4em {
  font-size: 1.4em;
}

.font-size-1-5em {
  font-size: 1.5em;
}

.font-size-2em {
  font-size: 2em;
}

.font-size-2-5em {
  font-size: 2.5em;
}

.font-size-3em {
  font-size: 3em;
}

/* ------------- FONT - SIZE - VW */
.font-size-2vw {
  font-size: 2vw;
}

.font-size-3vw {
  font-size: 3vw;
}

.font-size-4vw {
  font-size: 4vw;
}

.font-size-5vw {
  font-size: 5vw;
}
/* --------------------------------- ACTIVE EVENTS */
.active-event-outline-none:active {
  outline: none !important;
}

/* --------------------------------- FOCUS EVENTS */
.focus-event-outline-none:focus {
  outline: none !important;
}

/* --------------------------------- TEXT RENDERING */
.text-rendering-optimize-legibility {
  text-rendering: optimizeLegibility !important;
}

.text-rendering-optimize-speed {
  text-rendering: optimizeSpeed !important;
}

.text-rendering-geometric-precision {
  text-rendering: geometricPrecision !important;
}

/* --------------------------------- OPACITY */
.opacity-5 {
  opacity: 5% !important;
}

.opacity-10 {
  opacity: 10% !important;
}

.opacity-15 {
  opacity: 15% !important;
}

.opacity-20 {
  opacity: 20% !important;
}

.opacity-25 {
  opacity: 25% !important;
}

.opacity-30 {
  opacity: 30% !important;
}

.opacity-35 {
  opacity: 35% !important;
}

.opacity-40 {
  opacity: 40% !important;
}

.opacity-45 {
  opacity: 45% !important;
}

.opacity-50 {
  opacity: 50% !important;
}

.opacity-55 {
  opacity: 55% !important;
}

.opacity-60 {
  opacity: 60% !important;
}

.opacity-65 {
  opacity: 65% !important;
}

.opacity-70 {
  opacity: 70% !important;
}

.opacity-75 {
  opacity: 75% !important;
}

.opacity-80 {
  opacity: 80% !important;
}

.opacity-85 {
  opacity: 85% !important;
}

.opacity-90 {
  opacity: 90% !important;
}

.opacity-95 {
  opacity: 95% !important;
}

.opacity-100 {
  opacity: 100% !important;
}

/* --------------------------------- TRANSITIONS */
.transition-05s {
  transition: 0.5s !important;
  -webkit-transition: 0.5s !important;
  -moz-transition: 0.5s !important;
  -ms-transition: 0.5s !important;
  -o-transition: 0.5s !important;
}

.transition-1s {
  transition: 1s !important;
  -webkit-transition: 1s !important;
  -moz-transition: 1s !important;
  -ms-transition: 1s !important;
  -o-transition: 1s !important;
}

/* --------------------------------- HABITS */
.h-pr-fl-ma {
  /* = Position Relative - Float Left - Margin Auto - MARGIN AUTO */
  position: relative;
  float: left;
  margin: auto;
}

.h-pr-fr-ma {
  /* = Position Relative - Float Right - Margin Auto - MARGIN AUTO */
  position: relative;
  float: right;
  margin: auto;
}

/* --------------------------------- BORDER */
/* ------------- BORDER - SIZES */
.border-none {
  border: none !important;
}

.border-1px {
  border: 1px solid !important;
}

.border-2px {
  border: 2px solid !important;
}

.border-3px {
  border: 3px solid !important;
}

.border-4px {
  border: 4px solid !important;
}

/* ------------- BORDER - COLOR */
.border-color-none {
  border-color: none !important;
}

.border-color-white-2 {
  border-color: #f5f5f5 !important;
}

.border-color-white-3 {
  border-color: #dedede !important;
}

/* ------------- BORDER - RADIUS */

.border-radius-0 {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.border-radius-5 {
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.border-radius-15 {
  border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
  -moz-border-radius: 15px !important;
  -ms-border-radius: 15px !important;
  -o-border-radius: 15px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
}

/* ------------- BORDER - TOP - LEFT */
.border-radius-top-left-0 {
  border-top-left-radius: 0px !important;
}

.border-radius-top-left-5 {
  border-top-left-radius: 5px !important;
}

.border-radius-top-left-10 {
  border-top-left-radius: 10px !important;
}

.border-radius-top-left-15 {
  border-top-left-radius: 15px !important;
}

.border-radius-top-left-20 {
  border-top-left-radius: 20px !important;
}

.border-radius-top-left-25 {
  border-top-left-radius: 25px !important;
}

.border-radius-top-left-30 {
  border-top-left-radius: 30px !important;
}

.border-radius-top-left-35 {
  border-top-left-radius: 35px !important;
}

/* ------------- BORDER - BOTTOM - LEFT */
.border-radius-bottom-left-0 {
  border-bottom-left-radius: 0px !important;
}

.border-radius-bottom-left-5 {
  border-bottom-left-radius: 5px !important;
}

.border-radius-bottom-left-10 {
  border-bottom-left-radius: 10px !important;
}

.border-radius-bottom-right-15 {
  border-bottom-right-radius: 15px !important;
}

/* ------------- BORDER - TOP - RIGHT */

.border-radius-top-right-0 {
  border-top-right-radius: 0px !important;
}
.border-radius-top-right-10 {
  border-top-right-radius: 10px !important;
}

.border-radius-top-right-20 {
  border-top-right-radius: 20px !important;
}

.border-radius-top-right-25 {
  border-top-right-radius: 25px !important;
}

.border-radius-top-right-30 {
  border-top-right-radius: 30px !important;
}

.border-radius-top-right-35 {
  border-top-right-radius: 35px !important;
}
/* ------------- BORDER - BOTTOM - RIGHT */
.border-radius-bottom-right-0 {
  border-bottom-right-radius: 0px !important;
}

.border-radius-bottom-right-5 {
  border-bottom-right-radius: 5px !important;
}

.border-radius-bottom-right-10 {
  border-bottom-right-radius: 10px !important;
}

.border-radius-bottom-right-15 {
  border-bottom-right-radius: 15px !important;
}
/* --------------------------------- PADDING */
/* ------------- PADDING - GENERAL */

.padding-0px {
  padding: 0px !important;
}

.padding-0 {
  padding: 0 !important;
}

.padding-1px {
  padding: 1px !important;
}

.padding-2px {
  padding: 2px !important;
}

.padding-3px {
  padding: 3px !important;
}

.padding-4px {
  padding: 4px !important;
}

.padding-5px {
  padding: 5px !important;
}

.padding-10px {
  padding: 10px !important;
}

.padding-15px {
  padding: 15px !important;
}

.padding-20px {
  padding: 20px !important;
}

.padding-25px {
  padding: 25px !important;
}

.padding-30px {
  padding: 30px !important;
}

.padding-40px {
  padding: 40px !important;
}

.padding-50px {
  padding: 50px !important;
}

.padding-60px {
  padding: 60px !important;
}

.padding-70px {
  padding: 70px !important;
}

/* ------------- PADDING - BOTTOM */
.padding-bottom-0px {
  padding-bottom: 0 !important;
}

.padding-bottom-1px {
  padding-bottom: 1px !important;
}

.padding-bottom-2px {
  padding-bottom: 2px !important;
}

.padding-bottom-3px {
  padding-bottom: 3px !important;
}

.padding-bottom-4px {
  padding-bottom: 4px !important;
}

.padding-bottom-5px {
  padding-bottom: 5px !important;
}

.padding-bottom-10px {
  padding-bottom: 10px !important;
}

.padding-bottom-15px {
  padding-bottom: 15px !important;
}

.padding-bottom-20px {
  padding-bottom: 20px !important;
}
.padding-bottom-100 {
  padding-bottom: 100% !important;
}
/* ------------- PADDING - RIGHT */
.padding-right-5px {
  padding-right: 5px !important;
}

.padding-right-10px {
  padding-right: 10px !important;
}

.padding-right-15px {
  padding-right: 15px !important;
}

.padding-right-20px {
  padding-right: 20px !important;
}

.padding-right-25px {
  padding-right: 25px !important;
}

.padding-right-50px {
  padding-right: 50px !important;
}
/* ------------- PADDING - LEFT */
.padding-left-5px {
  padding-left: 5px !important;
}

.padding-left-10px {
  padding-left: 10px !important;
}

.padding-left-15px {
  padding-left: 15px !important;
}

.padding-left-20px {
  padding-left: 20px !important;
}

.padding-left-25px {
  padding-left: 25px !important;
}

.padding-left-50px {
  padding-left: 50px !important;
}
/* ------------- PADDING - TOP */
.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-1px {
  padding-top: 1px !important;
}

.padding-top-2px {
  padding-top: 2px !important;
}

.padding-top-3px {
  padding-top: 3px !important;
}

.padding-top-4px {
  padding-top: 4px !important;
}

.padding-top-5px {
  padding-top: 5px !important;
}

.padding-top-6px {
  padding-top: 6px !important;
}

.padding-top-7px {
  padding-top: 7px !important;
}

.padding-top-8px {
  padding-top: 8px !important;
}

.padding-top-9px {
  padding-top: 9px !important;
}

.padding-top-10px {
  padding-top: 10px !important;
}

.padding-top-15px {
  padding-top: 15px !important;
}

.padding-top-20px {
  padding-top: 20px !important;
}

.padding-top-25px {
  padding-top: 25px !important;
}

.padding-top-30px {
  padding-top: 30px !important;
}

.padding-top-35px {
  padding-top: 35px !important;
}

.padding-top-40px {
  padding-top: 40px !important;
}

.padding-top-50px {
  padding-top: 50px !important;
}

.padding-top-60px {
  padding-top: 60px !important;
}

.padding-top-70px {
  padding-top: 70px !important;
}

.padding-top-80px {
  padding-top: 80px !important;
}

.padding-top-90px {
  padding-top: 90px !important;
}

.padding-top-100px {
  padding-top: 100% !important;
}

/* --------------------------------- ANIMATION */
/* ------------- ANIMATION - COUNT */
.animation-infinite {
  animation-duration: infinite !important;
  -webkit-animation-duration: infinite !important;
}

/* ------------- ANIMATION - DELAY */
.animation-delay-01s {
  animation-delay: 0.1s;
}

.animation-delay-02s {
  animation-delay: 0.2s;
}

.animation-delay-03s {
  animation-delay: 0.3s;
}

.animation-delay-04s {
  animation-delay: 0.4s;
}

.animation-delay-05s {
  animation-delay: 0.5s;
}

.animation-delay-06s {
  animation-delay: 0.6s;
}

.animation-delay-07s {
  animation-delay: 0.7s;
}

.animation-delay-08s {
  animation-delay: 0.8s;
}

.animation-delay-09s {
  animation-delay: 0.9s;
}

.animation-delay-1s {
  animation-delay: 1s;
}

/* --------------------------------- COLOR */
/* ------------- COLOR - GENERAL */
.color-white {
  color: #ffffff !important;
}

.color-black-node {
  color: #121212 !important;
}
.color-skyblue {
  color: #00baff !important;
}

.color-white-node {
  color: #f5f5f5 !important;
}

.color-blue {
  color: blue !important;
}

.color-blue-node {
  color: #104a8e !important;
}

.color-grey {
  color: #7e7e7e !important;
}

.color-grey-node {
  color: #bebebe !important;
}

.color-fuchsia {
  color: #ff0096 !important;
}

.color-red {
  color: red !important;
}

.color-red-node {
  color: #ed293e !important;
}

.color-orange {
  color: orange !important;
}

.color-orange-node {
  color: #ff781f !important;
}

.color-yellow {
  color: yellow !important;
}

.color-yellow-node {
  color: #fccb18 !important;
}

.color-green {
  color: green !important;
}

.color-green-node {
  color: rgb(2, 228, 115) !important;
}

/* ------------- COLOR - HOVER */
.color-hover-skyblue {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.color-hover-skyblue:hover {
  color: #0096ff !important;
}

.color-hover-fuchsia {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.color-hover-fuchsia:hover {
  color: #ff0096 !important;
}

/* --------------------------------- BACKGROUND */
/* ------------- BACKGROUND - COLOR */

.background-none {
  background: none !important;
}

.background-yellow {
  background: yellow !important;
}

.background-yellow-node {
  background: #fccb18 !important;
}

.background-blue {
  background: blue !important;
}

.background-blue-node {
  background: #104a8e !important;
}

.background-red {
  background: red !important;
}

.background-red-node {
  background: #ed293e !important;
}

.background-orange {
  background: orange !important;
}

.background-orange-node {
  background: #ff781f !important;
}

.background-white {
  background: #ffffff !important;
}

.background-white-2 {
  background: #f5f5f5 !important;
}

.background-white-3 {
  background: #f5f5f5 !important;
}

.background-white-node {
  background: #f5f5f5 !important;
}

.background-grey-node {
  background: #bebebe !important;
}

.background-black-node {
  background: #121212 !important;
}

.background-green {
  background: green !important;
}

.background-green-node {
  background: rgb(2, 228, 115) !important;
}

.background-skyblue {
  background: #0096ff !important;
}

.background-skyblue-2 {
  background: #00baff !important;
}

.background-fuchsia {
  background: #ff0096 !important;
}
/* ------------- BACKGROUND - HOVER */
.background-fuchsia-hover:hover {
  background: #f836a7 !important;
}
/* ------------- BACKGROUND - GRADIENT */
.background-skyblue-gradient {
  background: #0096ff;
  background: -moz-linear-gradient(
    -45deg,
    #0096ff 0%,
    hsl(189, 100%, 50%) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0096ff 0%,
    hsl(189, 100%, 50%) 100%
  );
  background: linear-gradient(135deg, #0096ff 0%, hsl(189, 100%, 50%) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096ff', endColorstr='hsl(189, 100%, 50%)', GradientType=1);
  -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0096ff', endColorstr='hsl(189, 100%, 50%)', GradientType=1);
}

.background-skyblue-gradient-1 {
  background: hsl(189, 100%, 50%);
  background: -moz-linear-gradient(
    -45deg,
    hsl(189, 100%, 50%) 0%,
    #0096ff 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    hsl(189, 100%, 50%) 0%,
    #0096ff 100%
  );
  background: linear-gradient(135deg, hsl(189, 100%, 50%) 0%, #0096ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(189, 100%, 50%) ', endColorstr='#0096ff', GradientType=1);
  -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(189, 100%, 50%) ', endColorstr='#0096ff', GradientType=1);
}

.background-ns-gradient {
  background: #ff0096;
  background: -moz-linear-gradient(-45deg, #ff0096 0%, #00baff 100%);
  background: -webkit-linear-gradient(-45deg, #ff0096 0%, #00baff 100%);
  background: linear-gradient(135deg, #ff0096 0%, #00baff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0096', endColorstr='#00baff', GradientType=1);
}

.background-fuchsia-gradient {
  background: #ff5db1;
  background: -moz-linear-gradient(-45deg, #ff5db1 0%, #ef017c 100%);
  background: -webkit-linear-gradient(-45deg, #ff5db1 0%, #ef017c 100%);
  background: linear-gradient(135deg, #ff5db1 0%, #ef017c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1);
}

.background-white-gradient {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.background-white-gradient-2 {
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(243, 243, 243, 1) 50%,
    rgba(237, 237, 237, 1) 51%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1);
}

.background-white-gradient-3 {
  background: #c9ccd3;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-blend-mode: lighten;
}

.background-copper-gradient {
  background: #dd886c;
  background: -moz-linear-gradient(
    -45deg,
    #dd886c 0%,
    #ed8f63 3%,
    #ed8f63 3%,
    #f28d5e 25%,
    #e0663a 47%,
    #e0663a 74%,
    #e09c6b 96%,
    #e09c6b 99%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #dd886c 0%,
    #ed8f63 3%,
    #ed8f63 3%,
    #f28d5e 25%,
    #e0663a 47%,
    #e0663a 74%,
    #e09c6b 96%,
    #e09c6b 99%
  );
  background: linear-gradient(
    135deg,
    #dd886c 0%,
    #ed8f63 3%,
    #ed8f63 3%,
    #f28d5e 25%,
    #e0663a 47%,
    #e0663a 74%,
    #e09c6b 96%,
    #e09c6b 99%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd886c', endColorstr='#e09c6b', GradientType=1);
}

.background-plate-gradient {
  background: #ffffff;
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 0%,
    #d1d1d1 54%,
    #f1f1f1 86%,
    #f1f1f1 92%,
    #f6f6f6 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 0%,
    #d1d1d1 54%,
    #f1f1f1 86%,
    #f1f1f1 92%,
    #f6f6f6 100%
  );
  background: linear-gradient(
    135deg,
    #ffffff 0%,
    #d1d1d1 54%,
    #f1f1f1 86%,
    #f1f1f1 92%,
    #f6f6f6 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=1);
}

.background-black-gradient {
  background: #121212;
  background: -moz-linear-gradient(-45deg, #121212 0%, #303030 100%);
  background: -webkit-linear-gradient(-45deg, #121212 0%, #303030 100%);
  background: linear-gradient(135deg, #121212 0%, #303030 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#121212', endColorstr='#303030', GradientType=1);
}

.background-black-gradient-2 {
  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
}

.background-green-gradient {
  background: #d2ff52;
  background: -moz-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: -webkit-linear-gradient(-45deg, #d2ff52 0%, #91e842 100%);
  background: linear-gradient(135deg, #d2ff52 0%, #91e842 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1);
}

.background-grey-gradient {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.background-gold-gradient {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}

/* ------------- BACKGROUND - POSITION */
.background-position-center {
  background-position: center;
  background-origin: unset;
}

.background-position-bottom {
  background-position: bottom;
}

.background-position-left {
  background-position: left;
}

.background-position-right {
  background-position: right;
}

.background-position-top {
  background-position: top;
}

/* --------------------------------- IMAGE */
.ImgNoAutoScale {
  background-size: contain !important;
  object-fit: cover;
}

.img-hover-zoom.NoticesImgLastPost {
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.img-hover-zoom.NoticesImgLastPost:hover {
  transform: scale(1.5);
}

/* --------------------------------- LINE - HEIGHT */
/* ------------- LINE - HEIGHT - PX */
.line-height-0px {
  line-height: 0px !important;
}

.line-height-5px {
  line-height: 5px !important;
}

.line-height-10px {
  line-height: 10px !important;
}

.line-height-15px {
  line-height: 15px !important;
}

.line-height-20px {
  line-height: 20px !important;
}

.line-height-25px {
  line-height: 25px !important;
}

/* ------------- LINE - HEIGHT - VW */
.line-height-1vw {
  line-height: 1vw !important;
}

.line-height-2vw {
  line-height: 2vw !important;
}

.line-height-3vw {
  line-height: 3vw !important;
}

.line-height-4vw {
  line-height: 4vw !important;
}

.line-height-5vw {
  line-height: 5vw !important;
}

.line-height-10vw {
  line-height: 10vw !important;
}

/* --------------------------------- WIDTH */
/* ------------- WIDTH - PX */
.width-5px {
  width: 5px !important;
}

.width-10px {
  width: 10px !important;
}

.width-15px {
  width: 15px !important;
}

.width-20px {
  width: 20px !important;
}

.width-25px {
  width: 25px !important;
}

.width-30px {
  width: 30px !important;
}

.width-35px {
  width: 35px !important;
}

.width-40px {
  width: 40px !important;
}

.width-50px {
  width: 50px !important;
}

.width-60px {
  width: 60px;
}

.width-70px {
  width: 70px;
}

.width-80px {
  width: 80px;
}

.width-100px {
  width: 100px;
}

.width-125px {
  width: 125px !important;
}

.width-150px {
  width: 150px;
}

.width-200px {
  width: 200px;
}

.width-250px {
  width: 250px;
}

.width-300px {
  width: 300px;
}

/* ------------- WIDTH - % */

.width-auto {
  width: auto !important;
}

.width-5 {
  width: 5% !important;
}

.width-10 {
  width: 10% !important;
}

.width-15 {
  width: 15% !important;
}

.width-20 {
  width: 20% !important;
}

.width-25 {
  width: 25% !important;
}

.width-30 {
  width: 30% !important;
}

.width-35 {
  width: 35% !important;
}

.width-33 {
  width: 33.333333%;
}

.width-40 {
  width: 40% !important;
}

.width-50 {
  width: 50% !important;
}

.width-50 {
  width: 55%;
}

.width-60 {
  width: 60% !important;
}

.width-65 {
  width: 65% !important;
}

.width-70 {
  width: 70% !important;
}

.width-75 {
  width: 75% !important;
}

.width-80 {
  width: 80% !important;
}

.width-90 {
  width: 90% !important;
}

.width-95 {
  width: 95% !important;
}

.width-100 {
  width: 100%;
}

.width-150 {
  width: 150%;
}

.width-200 {
  width: 200%;
}

.width-250 {
  width: 250%;
}
/* ------------- MAX - WIDTH - % */
.max-width-40 {
  max-width: 40% !important;
}

.max-width-50 {
  max-width: 50% !important;
}

.max-width-60 {
  max-width: 60% !important;
}

/* --------------------------------- WIDTH AND HEIGHT */
/* ------------- WIDTH AND HEIGHT - % */
.width-and-height-auto {
  width: auto !important;
  height: auto !important;
}

.width-and-height-10 {
  width: 10% !important;
  height: 10% !important;
}

.width-and-height-15 {
  width: 15% !important;
  height: 15% !important;
}

.width-and-height-20 {
  width: 20% !important;
  height: 20% !important;
}

.width-and-height-25 {
  width: 25% !important;
  height: 25% !important;
}

.width-and-height-30 {
  width: 30% !important;
  height: 30% !important;
}

.width-and-height-33 {
  width: 33.333333%;
  height: 33.333333%;
}

.width-and-height-40 {
  width: 40% !important;
  height: 40% !important;
}

.width-and-height-50 {
  width: 50%;
  height: 50%;
}

/* ------------- WIDTH AND HEIGHT - PX */
.width-and-height-5px {
  width: 5px !important;
  height: 5px !important;
}

.width-and-height-10px {
  width: 10px !important;
  height: 10px !important;
}

.width-and-height-15px {
  width: 15px !important;
  height: 15px !important;
}

.width-and-height-20px {
  width: 20px !important;
  height: 20px !important;
}

.width-and-height-25px {
  width: 25px !important;
  height: 25px !important;
}

.width-and-height-30px {
  width: 30px !important;
  height: 30px !important;
}

.width-and-height-40px {
  width: 40px !important;
  height: 40px !important;
}

.width-and-height-50px {
  width: 50px;
  height: 50px;
}

.width-and-height-500px {
  width: 300px;
  height: 300px;
}

/* --------------------------------- ABSOLUTE */

.absolute-horizontal-center {
  position: absolute;
  margin: auto;
  left: 0px;
  right: 0px;
}

.absolute-vertical-center {
  position: absolute;
  margin: auto;
  top: 0px;
  bottom: 0px;
}

.relative-horizontal-center {
  position: relative;
  float: left;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.relative-vertical-center {
  position: relative !important;
  float: left;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

/* --------------------------------- MARGIN */
.margin-left-0 {
  margin-left: 0 !important;
}

.margin-left-2 {
  margin-left: 2px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-2 {
  margin-left: 2px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-1 {
  margin-top: 1px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-top-4 {
  margin-top: 4px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-2 {
  margin-bottom: 2px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-0 {
  margin: 0 !important;
}

.margin-1 {
  margin: 1px !important;
}

.margin-2 {
  margin: 2px !important;
}

.margin-3 {
  margin: 3px !important;
}

.margin-4 {
  margin: 4px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-auto {
  margin: auto;
}

.margin-5 {
  margin: 5px !important;
  box-sizing: border-box !important;
}

.margin-10 {
  margin: 10px !important;
  box-sizing: border-box !important;
}

.margin-20 {
  margin: 20px !important;
  box-sizing: border-box !important;
}

/* --------------------------------- Z-INDEX */

.z-index--1 {
  z-index: -1 !important;
}

.z-index-0 {
  z-index: 0 !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.z-index-2 {
  z-index: 2 !important;
}

.z-index-3 {
  z-index: 3 !important;
}
.z-index-90 {
  z-index: 3 !important;
}

.position-fixed {
  position: fixed;
}
/* --------------------------------- POSITION */
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}
.centered {
  position: relative;
  margin: auto;
  float: left;
  top: 50%;
  left: 50%;
  /*bringyourownprefixes*/
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
/* --------------------------------- FLOAT */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* --------------------------------- OVERFLOW */
.overflow-none {
  overflow: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-auto-y {
  overflow-y: auto !important;
}

.overflow-scroll-y {
  overflow-y: scroll !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-hover {
  overflow-y: hidden !important;
}

.overflow-y-hover:hover {
  overflow-y: scroll !important;
  cursor: pointer !important;
}

.overflow-y-auto-hover {
  overflow-y: hidden !important;
}

.overflow-y-auto-hover:hover {
  overflow-y: scroll !important;
}

.overflow-scroll {
  overflow: scroll !important;
}

.overflow-x-hidden {
  overflow-x: hidden !important;
}

.overflow-inherit {
  overflow: inherit !important;
}

.overflow-auto {
  overflow: auto;
}

/* --------------------------------- TEXT */
/* ------------- TEXT - ALIGN */
.text-align-center {
  text-align: center !important;
}

.text-align-last-center {
  text-align-last: center !important;
}

.text-align-left {
  text-align: left !important;
}

.text-align-right {
  text-align: right !important;
}
/* ------------- TEXT - OVERFLOW */
.text-overflow-ellipsis {
  display: block;
  display: -webkit-box;

  height: 109.2px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------- TEXT - EFFECT */
.text-effect-perspective {
  transform: perspective(100px) rotateY(33deg);
  -webkit-transform: perspective(100px) rotateY(33deg);
  -moz-transform: perspective(100px) rotateY(33deg);
  -ms-transform: perspective(100px) rotateY(33deg);
  -o-transform: perspective(100px) rotateY(33deg);
}

.text-effect-shadow {
  text-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px, rgba(0, 0, 0, 0.05) 1px 1px 1px,
    rgba(0, 0, 0, 0.045) 2px 2px 1px, rgba(0, 0, 0, 0.045) 3px 3px 1px,
    rgba(0, 0, 0, 0.045) 4px 4px 1px, rgba(0, 0, 0, 0.045) 5px 5px 1px;
}

/* --------------------------------- VERTICAL - ALIGN */
.vertical-align-bottom {
  vertical-align: bottom !important;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.vertical-align-top {
  vertical-align: top !important;
}

/* --------------------------------- CURSOR */
.cursor-pointer {
  cursor: pointer !important;
}
/* --------------------------------- FILL */

.fill-on-hover {
  fill: orange !important;
}

.fill-on-hover:hover {
  fill: #00baff !important;
  cursor: pointer;
}

/* --------------------------------- MIN - HEIGHT */
.min-height-100px {
  min-height: 100px !important;
}

/* --------------------------------- HEIGHT */
/* ------------- HEIGHT - GENERAL */
.height-auto {
  height: auto !important;
}

.height-inherit {
  height: inherit !important;
}
/* ------------- HEIGHT - PX */
.height-5px {
  height: 5px !important;
}

.height-10px {
  height: 10px !important;
}

.height-15px {
  height: 15px !important;
}

.height-20px {
  height: 20px !important;
}

.height-25px {
  height: 25px !important;
}

.height-30px {
  height: 30px !important;
}

.height-35px {
  height: 35px !important;
}

.height-40px {
  height: 40px !important;
}

.height-50px {
  height: 50px !important;
}

.height-55px {
  height: 55px !important;
}

.height-60px {
  height: 60px !important;
}

.height-70px {
  height: 70px !important;
}

.height-80px {
  height: 80px !important;
}

.height-90px {
  height: 90px !important;
}

.height-100px {
  height: 100px !important;
}

.height-125px {
  height: 125px !important;
}

.height-150px {
  height: 150px !important;
}

.height-250px {
  height: 250px !important;
}

.height-450px {
  height: 450px !important;
}

.height-1000px {
  height: 1000px !important;
}
/* ------------- HEIGHT - % */

.height-10 {
  height: 10% !important;
}

.height-12-5 {
  height: 12.5% !important;
  /* 100 / 8 = 12.5 */
}

.height-15 {
  height: 15% !important;
}

.height-20 {
  height: 20% !important;
}

.height-25 {
  height: 25% !important;
}

.height-30 {
  height: 30% !important;
}

.height-40 {
  height: 40% !important;
}

.height-50 {
  height: 50% !important;
}

.height-60 {
  height: 60% !important;
}

.height-70 {
  height: 70% !important;
}

.height-80 {
  height: 80% !important;
}

.height-90 {
  height: 90% !important;
}

.height-95 {
  height: 95% !important;
}

.height-100 {
  height: 100% !important;
}
/* ------------- HEIGHT - VH */
.height-10vh {
  height: 10vh !important;
}

.height-15vh {
  height: 15vh !important;
}

.height-20vh {
  height: 20vh !important;
}

.height-25vh {
  height: 25vh !important;
}

.height-30vh {
  height: 30vh !important;
}

.height-50vh {
  height: 50vh !important;
}

.height-60vh {
  height: 60vh !important;
}

.height-70vh {
  height: 70vh !important;
}

.height-80vh {
  height: 80vh !important;
}

.height-90vh {
  height: 90vh !important;
}

.height-100vh {
  height: 100vh !important;
}
/* ------------- MAX - HEIGHT - PX */
.max-height-100px {
  max-height: 90px !important;
}
/* --------------------------------- MIN - MAX - HEIGHT */
.min-max-height-360 {
  position: relative;
  float: left;
  margin: auto;
  min-height: 360px !important;
  max-height: 360px !important;
  background: red;
}
/* --------------------------------- MAX - LENGHT */
.max-lenght-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2 !important;
}

.max-lenght-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3 !important;
}

.max-lenght-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4 !important;
}

.max-lenght-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5 !important;
}

.max-lenght-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6 !important;
}

.max-lenght-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7 !important;
}

.max-lenght-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8 !important;
}
/* --------------------------------- HOVER */
/* ------------- HOVER - EFFECT */
.hover-effect:hover {
  filter: brightness(1.2);
  -webkit-filter: brightness(1.2);
}
/* --------------------------------- BOX */
/* ------------- BOX - SIZE - PX */
.box-50x50px {
  width: 50px;
  height: 50px;
}

.box-60x60px {
  width: 70px;
  height: 70px;
}

.box-70x70px {
  width: 70px;
  height: 70px;
}

.box-80x80px {
  width: 80px;
  height: 80px;
}

.box-90x90px {
  width: 90px;
  height: 90px;
}

.box-100x100px {
  width: 100px;
  height: 100px;
}

.box-150x150px {
  width: 150px;
  height: 150px;
}

.box-200x200px {
  width: 200px;
  height: 200px;
}

.box-250x250px {
  width: 250px;
  height: 250px;
}

.box-300x300px {
  width: 300px;
  height: 300px;
}
/* ------------- BOX - SHADOW */

.box-shadow-none {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.box-shadow-1 {
  -webkit-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  -moz-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
}

.box-shadow-1-hover {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.box-shadow-1-hover:hover {
  -webkit-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  -moz-box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  box-shadow: -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
}

.box-shadow-inset-1 {
  -webkit-box-shadow: inset -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  -moz-box-shadow: inset -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
  box-shadow: inset -11px 11px 2px -4px rgba(48, 48, 48, 0.18) !important;
}

.box-shadow-2 {
  box-shadow: 0px 0px 3px 5px rgba(48, 48, 48, 0.1) !important;
}

.box-shadow-inset-2 {
  box-shadow: inset 0px 0px 20px 15px rgba(48, 48, 48, 0.05) !important;
}

.box-shadow-3 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.1) !important;
}

.box-shadow-inset-lighten {
  box-shadow: white 0px 0px 10px 2px inset !important;
}

/* ------------- BOX - SIZING */

.box-sizing-border-box {
  box-sizing: border-box !important;
}

.box-sizing-content-box {
  box-sizing: content-box !important;
}

/* --------------------------------- VISIBILITY */
.visibility-hidden {
  visibility: hidden;
}

.visibility-none {
  visibility: none;
}

.visibility-visible-hover {
  visibility: hidden;
}

.visibility-visible-hover:hover {
  visibility: visible;
}

/* --------------------------------- DISPLAY */

.display-hidden {
  display: hidden;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.display-table {
  content: "";
  display: inline-flex;
  clear: both;
}

.display-table-cell {
  display: table-cell;
}

.display-visible-hover:hover {
  display: visible !important;
}

/* --------------------------------- ASPECT RATIO */
[style="--aspect-ratio: 1/1; "] {
  grid-column: span 1;
}

[style="--aspect-ratio: 2/1; "] {
  grid-column: span 2;
}

[style="--aspect-ratio: 3/1; "] {
  grid-column: span 3;
}

.aspect-ratio-1-1 {
  width: 100% !important;

  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.aspect-ratio-16-9 {
  width: 100%;
  padding-top: 56.25%;
}

.aspect-ratio-4-3 {
  width: 100%;
  padding-top: 75%;
}

.aspect-ratio-3-2 {
  width: 100%;
  padding-top: 66.66%;
}

.aspect-ratio-8-5 {
  width: 100%;
  padding-top: 62.5%;
}

/* --------------------------------- TOP */
/* ------------- TOP - PX */

.top--30 {
  top: -30px !important;
}

.top--20 {
  top: -20px !important;
}

.top--10 {
  top: -10px !important;
}

.top-0 {
  top: 0px !important;
}

.top-1 {
  top: 1px !important;
}

.top-2 {
  top: 2px !important;
}

.top-3 {
  top: 3px !important;
}

.top-4 {
  top: 4px !important;
}

.top-5 {
  top: 5px !important;
}

.top-10 {
  top: 10px !important;
}

.top-15 {
  top: 15px !important;
}

.top-20 {
  top: 20px !important;
}

.top-25 {
  top: 25px !important;
}
/* --------------------------------- BOTTOM */
/* ------------- BOTTOM - PX */

.bottom-0 {
  bottom: 0px !important;
}

.bottom-1 {
  bottom: 1px !important;
}

.bottom-2 {
  bottom: 2px !important;
}

.bottom-3 {
  bottom: 3px !important;
}

.bottom-4 {
  bottom: 4px !important;
}

.bottom-5 {
  bottom: 5px !important;
}

.bottom-10 {
  bottom: 10px !important;
}

.bottom-15 {
  bottom: 15px !important;
}

.bottom-20 {
  bottom: 20px !important;
}

.bottom-25 {
  bottom: 25px !important;
}
/* --------------------------------- RIGHT */
/* ------------- RIGHT - PX */
.right-0 {
  right: 0px !important;
}

.right-1 {
  right: 1px !important;
}

.right-2 {
  right: 2px !important;
}

.right-3 {
  right: 3px !important;
}

.right-4 {
  right: 4px !important;
}

.right-5 {
  right: 5px !important;
}
/* --------------------------------- LEFT */
/* ------------- LEFT - PX */
.left-0 {
  left: 0px !important;
}

.left-1 {
  left: 1px !important;
}

.left-2 {
  left: 2px !important;
}

.left-3 {
  left: 3px !important;
}

.left-4 {
  left: 4px !important;
}

.left-5 {
  left: 5px !important;
}

/* --------------------------------- OUTLINE */
.outline-none {
  outline: none !important;
}

/* --------------------------------- PINES */
.PinCategoryTag {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* --------- PIN FILL COLORS */

.inheritpincategoryflag {
  fill: red !important;
}

.fill-pin-category-flag-inherit {
  fill: inherit !important;
}

.fill-pin-category-flag-audio {
  fill: #ff781f !important;
}

.fill-pin-category-flag-imagen {
  fill: #ffbd06 !important;
}

.fill-pin-category-flag-texto {
  fill: #0350a7 !important;
}

.fill-pin-category-flag-publicidad {
  fill: #202020 !important;
}

.fill-pin-category-flag-video {
  fill: #ed293e !important;
}

.fill-pin-category-flag-redes-sociales {
  fill: #8c00ff !important;
}

/* --------- PIN FONT COLORS */

.color-pin-category-audio {
  color: #ff781f !important;
}

.color-pin-category-audio-hover:hover {
  color: #ff781f !important;
}

.color-pin-category-imagen {
  color: #ffbd06 !important;
  --imagen-pin-color: #ffbd06 !important;
}

.color-pin-category-imagen-hover:hover {
  color: #ffbd06 !important;
}

.color-pin-category-texto {
  color: #0350a7 !important;
  --texto-pin-color: #0350a7 !important;
}

.color-pin-category-texto-hover:hover {
  color: #0350a7 !important;
}

.color-pin-category-publicidad {
  color: #202020 !important;
  --publicidad-pin-color: #202020 !important;
}

.color-pin-category-publicidad-hover:hover {
  color: #202020 !important;
}

.color-pin-category-video {
  color: #ed293e !important;
  --video-pin-color: #ed293e !important;
}

.color-pin-category-video-hover:hover {
  color: #ed293e !important;
}

.color-pin-category-redes-sociales {
  color: #8c00ff !important;
  --video-redes-sociales-color: #8c00ff !important;
}

.color-pin-category-redes-sociales-hover:hover {
  color: #8c00ff !important;
}

/* --------- PIN BACKGROUND COLORS */
.background-pin-category-flag-inherit {
  background: inherit !important;
}

.background-pin-category-flag-audio {
  background: #ff781f !important;
}

.background-pin-category-flag-audio-hover:hover {
  background: #ff781f !important;
}

.background-pin-category-flag-imagen {
  background: #ffbd06 !important;
}

.background-pin-category-flag-imagen-hover:hover {
  background: #ffbd06 !important;
}

.background-pin-category-flag-texto {
  background: #0350a7 !important;
}

.background-pin-category-flag-texto-hover:hover {
  background: #0350a7 !important;
}

.background-pin-category-flag-publicidad {
  background: #202020 !important;
}

.background-pin-category-flag-publicidad-hover:hover {
  background: #202020 !important;
}

.background-pin-category-flag-video {
  background: #ed293e !important;
}

.background-pin-category-flag-video-hover:hover {
  background: #ed293e !important;
}

.background-pin-category-flag-redes-sociales {
  background: #8c00ff !important;
}

.background-pin-category-flag-redes-sociales-hover:hover {
  background: #8c00ff !important;
}

/* --------------------------------- DARK LIGHT AND CUSTOMIZE COLORS */

.current-color-1 {
  color: #ffffff !important;
  /* DARK MODE #7E7E7E */
}

.current-color-1-hover:hover {
  color: #ffffff !important;
}

.current-color-2 {
  color: #7e7e7e !important;
}

.current-color-emphasis {
  color: #f48f0a !important;
}

.current-color-emphasis-2 {
  color: #00baff !important;
}

.current-color-emphasis-3 {
  color: #00ff6a !important;
}

.current-color-emphasis-hover:hover {
  color: #00baff !important;
}

/* DARK MODE ON */

.current-background-1 {
  background: #f5f5f5 !important;
}

.current-background-2 {
  background: #dedede !important;
}

.current-background-3 {
  background: #c2c2c2 !important;
}

.background-red-node-transparent {
  background: #ed293d2f !important;
}

.background-red-node-transparent-2 {
  background: #ed293d1a !important;
}

.background-yellow-node-transparent {
  background: #ffbd064f !important;
}

.background-yellow-node-transparent-2 {
  background: #ffbd061f !important;
}

/* 121212 DARK MODE */
/* FFFFFF WHITE MODE*/
/* 202020 DARK MODE */
/* EEEEEE WHITE MODE*/
/* 181818 DARK MODE */
/* F5F5F5 WHITE MODE*/

/* LIGHT MODE OFF CORREGIDO PARA JOBS 
  .current-background-1 { background: rgb(211, 211, 211) !important; } 
  
  .current-background-2 { background: rgb(245, 245, 245) !important; } 
  
  .current-background-3 { background: rgb(228, 228, 228) !important; } 
  */

/* GREY MODE OFF *
  .current-background-1 { background: rgb(131, 131, 131) !important; } 
  
  .current-background-2 { background: rgb(190, 190, 190) !important; } 
  
  .current-background-3 { background: rgb(165, 165, 165) !important; } 
  */

.current-background-emphasis-1 {
  background: #0096ff !important;
}

.current-background-emphasis-1-hover:hover {
  background: #00baff !important;
}

.current-close-emphasis-1-hover:hover {
  background: #ed293e !important;
}

.d-contents {
  transition: 0.1s;
  outline-offset: 1px;
  outline: 1px solid #134355;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
  background-image: radial-gradient(circle, #001d26 5%, transparent 5%),
    radial-gradient(circle, #001d26 5%, transparent 5%) !important;
  background-size: 5px 5px !important;
  background-position: 0 0, 50px 50px !important;
  animation: milanesa 1s linear;
  -webkit-animation: milanesa 1s ease-in-out;
}

.d-contents:hover {
  outline-offset: 2px;
  outline: 1px dashed #00baff;
}
/* --------------------------------- CURRENTS */
/* ------------- CURRENT - FONT  */
.current-font {
  font-family: "Poppins";
}
/* --------------------------------- DARK LIGHT AND CUSTOMIZE COLORS */
/*
  .current-color-1 {
    color: #ffffff !important; 
  }
  .current-color-1-hover:hover {
    color: #ffffff !important;
  }
  
  .current-color-2 {
    color: #c2c2c2 !important;
  }
  */
.current-color-emphasis {
  color: #0096ff !important;
}

.current-color-emphasis-hover:hover {
  color: #00baff !important;
}

/* DARK MODE ON */

.current-background-1 {
  background: #121212 !important;
}
.current-background-2 {
  background: #202020 !important;
}
.current-background-3 {
  background: #181818 !important;
}
*/
  /* 121212 DARK MODE */
  /* FFFFFF WHITE MODE*/
  /* 202020 DARK MODE */
  /* EEEEEE WHITE MODE*/
  /* 181818 DARK MODE */
  /* F5F5F5 WHITE MODE*/
  
  /* LIGHT MODE OFF  CORREGIDO PARA JOBS */
  /*
  .current-background-1 {
      background: #c2c2c2 !important;
  }
  
  .current-background-2 {
      background: #ffffff !important;
  }
  
  .current-background-3 {
      background: rgb(228, 228, 228) !important;
  }
  */
  .current-color-1 {
  color: #7e7e7e !important;
}
.current-color-1-hover:hover {
  color: #7e7e7e !important;
}

.current-color-2 {
  color: #7e7e7e !important;
}

/* GREY MODE OFF *
  .current-background-1 {
      background: rgb(131, 131, 131) !important;
  }
  
  .current-background-2 {
      background: rgb(190, 190, 190) !important;
  }
  
  .current-background-3 {
      background: rgb(165, 165, 165) !important;
  }
  */

.current-background-emphasis-1 {
  background: #0096ff !important;
}
.current-background-emphasis-1-hover:hover {
  background: #00baff !important;
}

.current-close-emphasis-1-hover:hover {
  background: #ed293e !important;
}

.current-font {
  font-family: "Poppins";
}
